*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

header{
    height: 100vh;
    width: 100%;
    background-color: #bbe4dc;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x:hidden;
    z-index:1 ;
}

main{
height: 100vh;
background-color:#97d6cb;
margin-top: 100vh;
position: relative;
z-index:2 ;
}

#naglowek{
    font-family: 'Staatliches', cursive;
    font-size: 70px;
    text-align: center;
    margin: 50px;
}

#text{
    font-family: 'Oswald';
    font-size: 35px;
    text-align: center;
    font-weight: lighter;
}

main{text-align: center;}

header nav{
    position: absolute;
    right: 7%;
    top: 4%;
    font-size: 3rem;
}

header hgroup{
    position: absolute;
    top: 15%;
    left: 10%;
}

header h1{
    font-size: 15rem;
    font-family: 'Oswald', sans-serif;
    color: black;
}

header h3{
   font-size: 5rem;
   font-family: 'Oswald', sans-serif;
   color: black;
}

#arrow{
    width:48px;
    height:48px;
    border: 2px solid black;
    position: absolute;
    bottom:7% ;
    left:50% ;
    transform:translateX(-50%) ;
    border-radius: 50%;
    font-size: 3rem;
    text-align: center;
    text-shadow: 0px -15px 0px black, 0 -30px 0 black;
    overflow: hidden;
   transition: 1s ease;
}

#arrow:hover{
    text-shadow: 0px -15px 0px black, 0 -30px 0 black;
    color:black ;
    border-color: black;
    background-color: white;
    cursor: pointer;
}

.fa-angle-down{
    animation: arrow 1s infinite linear;
}

@keyframes arrow{
    0%{transform: translateY(-80px)}
    50%{transform: translateY(0px)}
    100%{transform:translateY(80px)}
}


button{
    background-color: transparent;
    border: transparent;
}

.hamburger{
    padding: 10px;
    display: inline-block;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    margin: 0;
    transition: all .5s .5s ease-in-out;

}

.hamburger, .navigation{
    transition: transform .3s .1s ease-in-out;
}

.hamburger--active{
    transform: translateX(-45px);
}

.hamburger_box {
    width: 40px;
    height: 40px;
    display: inline-block;
    position: relative;
    transition: all 0.5s ease-in-out;
}

.hamburger_inner{
    width: 100%;
    height: 3px;
    background-color:black;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: all .1s .3s ease-in-out;
}

.hamburger_inner::before,
.hamburger_inner::after{
    content:'';
    width: 100%;
    height: 3px;
    background-color:black;
    position: absolute;
    right: 0;
    transition: all 0.5s ease-in-out;
}

.hamburger_inner::before{
    top: -10px;
    transition: all 0.5s ease-in-out;
}


.hamburger_inner::after{
    top: 10px;
    transition: all 0.5s ease-in-out;
}

.hamburger--active .hamburger_inner{
    background-color: transparent;
    transition: all 0.1s ease-in-out;
}

.hamburger--active .hamburger_inner::before{
    transform: translateY(10px) rotate(45deg);
    /*transition: all 0.5s ease-in-out;*/
}

.hamburger--active .hamburger_inner::after{
    transform: translateY(-10px) rotate(-45deg);
    /*transition: all 0.5s ease-in-out;*/
}


.navigation{
    height: 90vh;
    width: 200px;
    background-color:transparent;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(500px);
}

.navigation--active{
    transform: translateX(150px);
}

.navigation_list{
    margin-top: 50px;
    list-style: none;
}

.navigation_item{
    margin-bottom: 20px;
}

a{
    text-decoration: none;
    color: black;
    font-family: 'Oswald';
    margin-top: 40px;
}

.naglowek17{
    font-family: 'Oswald';
    font-size: 70px;
    text-align: center;
    margin: 50px;
    padding-top: 50px;
}

#obrazekTygodnia{
    border-radius: 50%;
}